
@import "mixin";
@import "variables";

html, body {
    height: 100%;
}

body {
    margin: 0;
}

#header-section {
    background: $page_bg_color;
    height: 15%;
    position: relative;
    text-align: center;
    padding-top: 23px;

    h6 {
        color: #ffffff;
        font-family: $page_font;
        font-weight: bold;
        font-size: 1.125em;
    }

    img {
        position: absolute;
        left: 50%;
        top: 60%;
        margin-left: -44px;
    }
}

#content-section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    padding-bottom: 85px;

    #wrapper {
        width: auto;

        p {
            color: $page_font_color;
            font-family: $page_font;
            font-size: .875em;
            text-align: center;
            margin: 56px auto 0 auto;
            width: 320px;
        }
    
        h6 {
            color: $page_font_color;
            font-family: $page_font;
            font-size: 1.125em;
            font-weight: bold;
            width: 312px;
            text-align: center;
            margin: 25px auto 0 auto;
        }

        #form-section {
            margin-top: 25px;

            input[type="text"] {
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.26);
                font-family: $page_font;
                font-size: .875em;
                width: 100%;
                outline: none
            }

            ::placeholder { /* Firefox, Chrome, Opera */ 
                color: rgba(189, 189, 189, 0.71);; 
            } 
              
            :-ms-input-placeholder { /* Internet Explorer 10-11 */ 
                color: rgba(189, 189, 189, 0.71);; 
            } 
              
            ::-ms-input-placeholder { /* Microsoft Edge */ 
                color: rgba(189, 189, 189, 0.71);; 
            } 
        }

        #send-btn {
            background: #3BC059;
            border-radius: 8px;
            color: #ffffff;
            display: block;
            font-family: $page_font;
            font-weight: bold;
            font-size: 22px;
            width: 360px;
            height: 60px;
            padding-top: 12px;
            margin: 0 auto; 
            margin-top: 60px;
            text-align: center;
        }

    }

}


