
@import "mixin";
@import "variables";


#header-section {
    background: $page_bg_color;
    height: 85px;
    position: relative;
    text-align: center;
    padding-top: 23px;

    p {
        color: #ffffff;
    }

    img {
        position: absolute;
        left: 50%;
        top: 56px;
        margin-left: -44px;
    }
}
